<header>

  <div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContentEnc"
        aria-controls="navbarSupportedContentEnc" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContentEnc">
        <ul class="navbar-nav-encuestadoras">
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas IPSOS-PERÚ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas IMASÉN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas CPI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas IDICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas IMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas DATUM</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
      <div class="col-md-4 logo text-left">
        <a class="navbar-brand" href="index.html">
          <i class="fab fa-linode"></i> Encuestas Perú
        </a>
      </div>
      <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
        
        <!-- <span>Welcome Back!</span>
        <span class="mx-lg-4 mx-md-2  mx-1">
          <a href="login.html">
            <i class="fas fa-lock"></i> Sign In
          </a>
        </span>
        <span>
          <a href="register.html">
            <i class="far fa-user"></i> Register
          </a>
        </span> -->
      </div>
      <div class="col-md-4 log-icons text-right">

        <ul class="social_list1 mt-3">

          <li>
            <a href="https://www.facebook.com/Encuestas-Per%C3%BA-1354256938041672/" target="_blank" class="facebook1 mx-2">
              <i class="fab fa-facebook-f"></i>

            </a>
          </li>
          
          <!-- <li>
            <a href="#" class="twitter2">
              <i class="fab fa-twitter"></i>

            </a>
          </li>
          <li>
            <a href="#" class="dribble3 mx-2">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#" class="pin">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="''">
              Inicio
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Regiones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="blog1.html">Regiones 1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog2.html">Regiones 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog3.html">Regiones 3</a>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Encuestas Online</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Encuestadoras
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="blog1.html">Encuestadora 1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog2.html">Encuestadora 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog3.html">Encuestadora 3</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Distritos de Lima
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="blog1.html">Distrito 1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog2.html">Distrito 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog3.html">Distrito 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Lima Metropolitana</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/mod/candidato/registro'" >Registra tu candidato</a>
          </li>
        </ul>
        <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar candidato" name="Search" required="">
          <button class="btn btn1 my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>



      </div>
    </nav>

  </div>
</header>