<!--/banner-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a [routerLink]="''">Inicio</a>
  </li>
  <li class="breadcrumb-item active">Encuestas por Encuestadora</li>
</ol>
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
  <div class="container">
    <h3 id="tittle_encuestas" class="tittle">{{nombEncuestadora}}</h3>
    <div class="row inner-sec">
      <!--left-->
      <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
        <article *ngFor="let encuestas of listEncuestadoraEncuestas" class="blog-grid-top">
          <div class="b-grid-top">
            <div class="blog_info_left_grid">
              <a (click)="navigateToEncuesta(encuestas)">
                <img [src]="encuestas.encs_img_url" class="img-fluid" class="img-fluid" alt="">
              </a>
            </div>
            <div class="blog-info-middle">
              <ul>
                <li>
                  <a>
                    <i class="far fa-calendar-alt"></i> {{encuestas.encs_fec_registro}}</a>
                </li>
                <!-- <li class="mx-2">
                  <a href="#">
                    <i class="far fa-thumbs-up"></i> 201 Likes</a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-comment"></i> 15 Comments</a>
                </li> -->

              </ul>
            </div>
          </div>

          <h3>
            <a (click)="navigateToEncuesta(encuestas)">{{encuestas.encs_titulo}}</a>
          </h3>
          <p>{{encuestas.encs_resumen}}</p>
          <a (click)="navigateToEncuesta(encuestas)" class="btn btn-primary read-m">Leer más</a>
        </article>

        <nav *ngIf="showPaginator" aria-label="Page navigation example">
          <ul class="pagination justify-content-left">
            <!-- <li class="page-item">
              <a class="page-link">Anterior</a>
            </li> -->
            <li *ngFor="let page of listPaginador" class="page-item">
              <a class="page-link" (click)="paginatorClick(page)">{{page.number}}</a>
            </li>
            <!-- <li class="page-item">
              <a class="page-link">Siguiente</a>
            </li> -->
          </ul>
        </nav>
      </div>
      <!--right-->
      <aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
        <app-ultimas-encuestas></app-ultimas-encuestas>
      </aside>
      <!--//right-->
    </div>
  </div>
</section>
<!--//main-->